---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About Me";
const identity = {
  firstName: "Chaitanya",
  occupation: "Software Engineer",
};
const skills = ["HTML", "CSS", "JavaScript"];
const skillColor = "navy";
const happy = true;
---

<BaseLayout pageTitle={pageTitle}>
  <style is:global define:vars={{ skillColor }}>
    /* Normally <style> is scoped to elements in this component
       Setting is:global applies styles to all elements including those created in other components */
    h1 {
      color: purple;
      font-size: 4rem;
    }
    .skill {
      color: var(--skillColor);
      font-weight: bold;
    }
  </style>
  <p>
    My name is {identity.firstName} and I work as a {identity.occupation}.
  </p>
  {happy && <p>I am happy to be learning Astro!</p>}
  <p>My skills are:</p>
  <ul>
    {skills.map((skill) => <li class="skill">{skill}</li>)}
  </ul>
</BaseLayout>
